* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* Material Icons Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../material-icons_v38.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 16, 2017, 11:40:45 AM
    Author     : kishan
*/
@import url('https://fonts.googleapis.com/css?family=Caveat|Great+Vibes|Josefin+Slab');

.middler {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.k-fluid{
  width: 100%;
}

.k-margin{
  margin-bottom: 10px;
}

.download_paragraph{
    text-align: center;
    color: #263238;
    font-style: normal;
    font-family: josefin slab;
}

.intro_paragraph{
    text-align: center;
    color: lightgray;
}

.intro_paragraph_mobile{
    text-align: center;
    color: lightgray;
    font-family: caveat;
    font-size: 22px;
    margin-top: 5px;
}

.hor{
    color: white;
    background-color: white;
    border-color: white;
    height: 1px;
}

nav .brand-logo-k>img{
    vertical-align: middle;
}

.k-navyy{
    font-family: 'Jura', sans-serif;
}

.k-body{
    background-color: #3F3F;
}



/* CHANGES THE OLA CARO.. FONT ON MOBILE */
.awesome_mobile{
      color: white;
      font-family: great vibes;
      font-style: normal;
      font-weight: 100;
      text-align: center
}

/* CHANGES THE PLAY STORE BUTTON FONT */
.awesome_button{
      font-family: Josefin Slab;
}

/* OLA CAROS.. TEXT FONT */
.awesome {
      text-align: center;
      font-size:40px;
      font-family: great vibes;
      font-style: normal;
      font-weight: bolder;
      margin-bottom: 10px;
      margin-top: 20px;
}



/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}



.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: none;

  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  color: black;
  background: white;
  border-color: white;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.iconshit {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }



.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #5b5b5b;
}
