/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 16, 2017, 11:40:45 AM
    Author     : kishan
*/
@import url('https://fonts.googleapis.com/css?family=Caveat|Great+Vibes|Josefin+Slab');

.mdl-tabs__tab {
  margin: 0;
  border: none;
  padding: 0 24px 0 24px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: lowercase;
  color: rgba(0,0,0, 0.54);
  overflow: hidden; }
  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: rgba(0,0,0, 0.87); }
  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: rgb(63,81,181);
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
            animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
  .mdl-tabs__tab .mdl-tabs__ripple-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden; }
    .mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
      background: rgb(63,81,181); }

.k-fluid{
  width: 100%;
}

.k-margin{
  margin-bottom: 10px;
}

.download_paragraph{
    text-align: center;
    color: #263238;
    font-style: normal;
    font-family: josefin slab;
}

.intro_paragraph{
    text-align: center;
    color: lightgray;
}

.intro_paragraph_mobile{
    text-align: center;
    color: lightgray;
    font-family: caveat;
    font-size: 22px;
    margin-top: 5px;
}

.hor{
    color: white;
    background-color: white;
    border-color: white;
    height: 1px;
}

nav .brand-logo-k>img{
    vertical-align: middle;
}

.k-navyy{
    font-family: 'Jura', sans-serif;
}

.k-body{
    background-color: #3F3F;
}

* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;

}

/* CHANGES THE OLA CARO.. FONT ON MOBILE */
.awesome_mobile{
      color: white;
      font-family: great vibes;
      font-style: normal;
      font-weight: 100;
      text-align: center
}

/* CHANGES THE PLAY STORE BUTTON FONT */
.awesome_button{
      font-family: Josefin Slab;
}

/* THIS CODE IS FOR ANIMATED THE OLA CAROS.. TEXT (AND ALSO CHANGES THE FONT)
Edit: DISABLED ANIMATION*/
.awesome {
      text-align: center;
      font-size:40px;
      font-family: great vibes;
      font-style: normal;
      font-weight: bolder;
      margin-bottom: 10px;
      margin-top: 20px;
}
